.block-area {
    border: solid 1px gray;
    font-size: 14px;
}

.root {
    text-align: center;
}

.block-container {
    text-align: left;
    display: inline-block;
    width: 800px;
}

.logo-area {
    width: 80px;
    height: 80px;
    float: left;
}

.top-hint {
    margin-left: 91px;
    height: 80px;
}

.left-hint {
    width: 80px;
    height: 200px;
    float: left;
    margin-top: 10px;
}

.work-area {
    height: 200px;
    margin-left: 92px;
    margin-top: 10px;
}