@cell-size: 20px;
@top-cell-count: 4;
@left-cell_count: 4;
@work-cell-row-count: 10;
@work-cell-col-count: 10;
@gap: 10px;
@border-width: 0px;
@font-size: 14px;
body {
    background-color: #1f384e;
}

.block-area {
    border: solid @border-width gray;
    font-size: 14px;
    background-color: #f9f9f9;
    .line {
        font-size: 0;
        .cell {
            display: inline-block;
            width: @cell-size;
            height: @cell-size;
            box-sizing: border-box;
            font-size: @font-size;
            border: solid 1px black;
            text-align: center;
            &:hover {
                background-color: blueviolet;
                color: #fff;
            }
        }
    }
}

.root {
    text-align: center;
}

.block-container {
    text-align: left;
    display: inline-block;
    width: @cell-size*(@work-cell-col-count+@left-cell_count)+@gap+4*@border-width;
}

.logo-area {
    width: @cell-size*@left-cell_count;
    height: @cell-size*@top-cell-count;
    float: left;
    text-align: center;
    line-height: @cell-size*@top-cell-count;
}

.top-hint {
    margin-left: @left-cell_count*@cell-size+@gap+@border-width;
    height: @top-cell-count*@cell-size;
}

.left-hint {
    width: @left-cell_count*@cell-size;
    height: @work-cell-row-count*@cell-size;
    float: left;
    margin-top: @gap;
}

.work-area {
    height: @work-cell-row-count*@cell-size;
    margin-left: @left-cell_count*@cell-size+@gap+2*@border-width;
    margin-top: @gap;
}